
body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    display: inline-block;
}

/* #region Navbar */

.navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 2;
}

.navbar a {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid black; */
}

.search-input {
    border-radius: 50px;
}

.search-btn {
    background-color: black;
    color: white;
    border-radius: 50px;
}

/* #endregion */


/* #region Sidebar */

.sidebar {
    width: 20vw;
    height: 100%;
    padding: 15px 20px;
    color: white;
    background-color:black;
    /* border: 1px solid black; */
}

.Subjects {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #212529;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
}

.Subjects:hover {
    color: white;
}

.Subjects:active, .Subjects:target {
    border: 2px solid white;
}

.menu {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: none;
    list-style: none;
    /* border: 1px solid white; */
}

.menu li {
    font-size: 18px;
    /* margin: 5px 0px; */
    padding: 5px 0px;
    background-color: #212529;
    /* border: 1px solid white; */
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    /* border: 1px solid white; */
}

.menu li:hover {
    background-color: black;
}

/* #endregion */


/* #region MainDiv */

.mainsection {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100%-70px);
    min-height: 600px;
    margin-top: 70px;
    border: 1px solid black;
}

.maindiv {
    width: 55vw;
    height: 100%;
    /* border: 1px solid black; */
    overflow: auto;
}

.breadcrumbs {
    font-size: 25px;
    background-color: white;
    padding-right: 5px;
    padding-top: 15px;
    padding-left: 25px;
    border: 1px solid black;
}

.BC a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #212529;
}

.home-div {
    height: 100%;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

/* #endregion */


/* #region Ads */

.ads {
    width: 25vw;
    height: 100%;
    /* border: 1px solid black; */
    float: right;
}

.ads h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 300px;
}

/* #endregion */


/* #region Responsive */

@media screen and (max-height: 600px) {
    .mainsection {
        height: calc(100vh-70px);
        overflow-y: auto;
    }
    .maindiv {
        height: 100%;
        margin: 0;
        padding: 0;
        /* border: 1px solid black; */
        overflow: auto;
    }
    /* .ads {
        width: 100%;
        height: 100%;
    } */
}

@media screen and (max-width: 1100px) {
    .mainsection {
        display: block;
        overflow-x: auto;
    }
    .sidebar {
        /* display: none; */
        width: 100%;
        margin-bottom: 20px;
    }
    .maindiv {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: none;
    }
    .ads {
        width: 100%;
        height: 100%;
    }
    .icon {
        display: block;
    }
}

/* #endregion */


/* #region Footer */

.footer {
    width: 100%;
    height: 100%;
    list-style: none;
    /* display: inline-flex; */
    background-color: #212529;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.footer i {
    font-size: 24px;
    padding: 0px 20px;
}

.contactlink {
    padding: 10px;
    /* text-align: center; */
}

/* #endregion */


/* #region  */

/* #endregion */