<div class="footerdiv row">
  <div class="col-md-6 contacts">
    <h4 style="text-transform:uppercase">Contact us through our social media</h4>
    <ul>
      <li class="contactlink"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
      <li class="contactlink"><a href="mailto:janhavihimanshu@gmail.com"><i class="fa fa-envelope"></i>Email</a></li>
      <li class="contactlink"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
      <li class="contactlink"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <form action="{% url 'email' %}" method="post" class="contactform">
      {% csrf_token %}
      <h2>Contact us</h2>
      {% if request.user %}
      <div class="form-row">
        <div class="name form-group col-md-6">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" required id="fname" name="fname" placeholder="First Name" value={{request.user.first_name}}>
        </div>
      </div>
      <div class="form-row">
        <div class="name form-group col-md-6">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" required id="lname" name="lname" placeholder="Last Name" value={{request.user.last_name}}>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" required id="email" name="email" placeholder="Email" value={{request.user.email}}>
        </div>
      </div>
      {% else %}
      <div class="form-row">
        <div class="name form-group col-md-6">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" required id="fname" name="fname" placeholder="First Name">
        </div>
      </div>
      <div class="form-row">
        <div class="name form-group col-md-6">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" required id="lname" name="lname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" required id="email" name="email" placeholder="Email">
        </div>
      </div>
      {% endif %}
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="query">Please Enter Your Query</label>
          <textarea class="form-control" required id="query" name="query" placeholder="Enter your query" rows="8" cols="120"></textarea>
        </div>
      </div>
      <button type="submit" class="btn search-btn form-submit form-control-lg">Submit</button>
    </form>
  </div>
</div>