{% include "base.html" %}


{% block content %}
<div class="mainsection row">
  <section class="sidebar col-3">
    {{links|safe}}
  </section>

  <section class="maindiv col-9">
    <div class="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item BC"><a href="{% url 'home' %}">Home</a></li>
          {% block bread %}
          {% endblock bread %}
        </ol>
      </nav>
    </div>
    <div class="home-div">
      <i class="fa fa-book"></i>
      <p>Academics</p>
    </div>
  </section>

  <!-- <section class="ads col-4">
    <h1>ADS</h1>
  </section> -->
</div>

{% include 'footer.html' %}

{% endblock content %}